#pin_show.row
  .col-md-8.offset-2
    .card.card
      .card-header.pin_image
        = image_tag @pin.image.url
      .card-body
        %h1= @pin.title
        %p.description= @pin.description
        %p
        Submitted by
        = @pin.user.email
      .card-footer
        .row
          .col-md-6
            %p.user
            Submitted by
            = @pin.user.email
          .col-md-6
            .btn-group.float-right
              = link_to "Edit", edit_pin_path, class: "btn btn-outline-secondary"
              = link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-outline-secondary"